* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #f5f8ff;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 9px;
  align-items: center;
  background-color: white;
}
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #0066cc;
}
.navbar a {
  margin-left: 25px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  transition: 0.2s;
}
.navbar a:hover {
  color: #0066cc;
}
.login {
  padding: 6px 16px;
  background-color: rgb(33 119 157 / 41%);
  border-radius: 6px;
}
.login:hover {
  color: white;
}
.info-section {
  padding: 40px 60px;
}
.info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-bottom: 120px;
}
.info-left img {
  width: 520px;
  border-radius: 20px;
}
.info-right h2 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #0066cc;
}
.info-right p {
  font-size: 20px;
  color: #555;
  line-height: 1.8;
  max-width: 500px;
}
.see-more {
  background: transparent;
  border: 2px solid #0066cc;
  padding: 12px 32px;
  font-size: 18px;
  color: #0066cc;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
  margin-top: 20px;
}

.see-more:hover {
  background: #0066cc;
  color: #fff;
}

.footer {
  background-color: #0066cc;
  text-align: center;
  padding: 40px 20px;
  color: white;
  margin-top: -43px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.footer-copy {
  font-size: 14px;
  opacity: 0.7;
}
.info-box-reverse {
  flex-direction: row-reverse;
  display: flex;
}
.info-right {
  max-width: 500px;
}

.hero {
  position: relative;
  height: 400px;
  background: url("bg.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}
.hero1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 102, 204, 0.45); /* bluish overlay */
  top: 0;
  left: 0;
}
.hero2 {
  position: relative;
  z-index: 1;
  max-width: 900px;
  padding: 20px;
}
.hero2 h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.4;
}
.hero2 p {
  font-size: 18px;
  max-width: 750px;
  margin: 0 auto;
  line-height: 1.6;
}
